.container {
  width: 100%;
  height: 100vh;
}

.converter {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hex-input, .rgb-output {
  width: 250px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.hex-input {
  border: 0;
  outline: 0;
  padding: 0;
  box-shadow: inset 0 0 2px;
}

.rgb-output {
  background: #0008;
  color: white;
  margin-top: 5px;
}
